@media (max-width: 1700px){
    .card__name {
        font-size: 22px;
    }
    .card__price-p {
        font-size: 20px;
    }
}

@media (max-width: 1550px) {
    .meeting-slider {
        width: 950px;
        height: 400px;
    }
    .meeting-slider__wrapper {
        width: 800px;
    }
    .meeting-slider__arrow {
        width: 75px;
    }
    .meeting-slider__slide {
        width: 800px;
    }
    .card__name {
        font-size: 20px;
    }
    .card__price-p  {
        font-size: 18px;
    }
    .price__basket-button {
        width: 75px;
        font-size: 13px;
    }
    .products__categories--ul {
        font-size: 20px;
    }
    li {
        font-size: 16px;
    }
    .modal__window {
        width: 70%;
    }
}

@media (max-width: 1350px) {
    h1 {
        font-size: 25px;
    }
    .products__categories {
        width: 20%;
    }
    .products__list {
        width: 75%;
    }
}

@media (max-width: 1200px) {
    .products__card {
        height: 360px;
    }
    .products__string {
        height: 380px;
    }
    .card__img {
        height: 210px;
    }
    .products__categories {
        width: 30%;
        left: 50px;
        position: absolute;
        background-color: white;
        z-index: 3;
        display: none;
        border-left-width: 2px;
    }
    .products__categories--show-button {
        display: inline;
    }
    .products__list {
        width: 95%;
        margin-left: 50px;
    }
    .modal__basket {
        height: 400px;
        min-width: 0px;
    }
    .basket__list {
        width: 80%;
    }
    .basket__overlay-h1 {
        line-height: 200px;
    }
    .basket__payment {
        width: 150px;
        height: 45px;
        font-size: 18px;
    }
    .basket__element-delete {
        font-size: 14px;
        height: 20px;
    }
    .basket__element {
        height: 50px;
    }
}

@media (max-width: 960px) {
    header {
        width: 90%;
    }
    .meeting-slider {
        width: 600px;
        height: 250px;
    }
    .meeting-slider__wrapper {
        width: 500px;
    }
    .meeting-slider__arrow {
        width: 50px;
    }
    .meeting-slider__slide {
        width: 500px;
    }
    .meeting-slider__slide-text {
        width: 200px;
        font-size: 20px;
    }
    .products__card {
        padding: 5px;
    }
    .card__price {
        padding: 5px;
        justify-content: space-between;
    }
    .price__basket-button {
        height: 25px;
        right: 5px;
        padding: 0;
    }

    .products__card {
        height: 340px;
    }
    .products__string {
        height: 360px;
    }
    .card__img {
        height: 190px;
    }
    .basket__element-delete {
        height: 25px;
        font-size: 15px;
    }
    
}

@media (max-width: 820px) {
    .products__card {
        height: 320px;
    }
    .products__string {
        height: 340px;
    }
    .card__img {
        height: 150px;
    }
    .card__price {
        padding: 5px;
        justify-content: space-between;
        display: inline;
        text-align: center;
    }
    .card__name {
        font-size: 17px;
        margin: 10px 0;
    }
    .price__basket-button {
        position: relative;
        width: 75%;
        margin: auto;
        right: 0px;
    }
    .header__registration {
        width: 200px;
    }
    .header__button {
        font-size: 14px;
        width: 80px;
        margin-top: 10px;
    }
    .header__login-buttons-list {
        width: 80px;
    }
    .header__search {
        width: 30%;
        height: 25px;
        margin-top: 5px;
    }
    header {
        height: 40px;
    }
    .products__categories--show-button {
        width: 40px;
        height: 125px;
        font-size: 20px;
    }
    
    .products__categories--show-p {
        top: 70px;
    }
    .modal__card {
        width: 100%;
    }
    .modal__slider {
        margin: auto;
    }
    .modal__slider {
        width: 400px;
    }
    .modal__window {
        width: 90%;
    }
}

@media (max-width: 700px) {
    .products__card {
        height: 280px;
    }
    .products__string {
        height: 300px;
    }
    .card__img {
        height: 120px;
    }
    .products__categories {
        width: 35%;
    }
    .products__categories--ul{
        font-size: 18px;
    }
    li {
        font-size: 15px;
    }
    .modal__h {
        font-size: 25px;
    }
    .modal__input {
        height: 24px;
    }
    .modal__button {
        width: 40%;
        font-size: 15px;
        margin-left: 30%;
    }
}

@media (max-width: 650px) {
    .card__name {
        font-size: 15px;
    }
    .products__card {
        height: 260px;
    }
    .products__string {
        height: 280px;
    }
    .card__img {
        height: 120px;
    }
    .meeting-slider {
        width: 400px;
        height: 150px;
    }
    .meeting-slider__wrapper {
        width: 320px;
    }
    .meeting-slider__arrow {
        width: 40px;
    }
    .meeting-slider__slide {
        width: 320px;
    }
    .meeting-slider__slide-text {
        width: 150px;
        font-size: 13px;
        top: 50%;
        left: 50%;
    }
    .products__categories {
        width: 40%;
    }
}

@media (max-width: 650px) {
    h1 {
        font-size: 20px;
    }
    .products__list {
        width: 97%;
        margin-left: 30px;
    }
    .card__name {
        font-size: 13px;
    }
    .products__card {
        height: 260px;
    }
    .products__string {
        height: 280px;
    }
    .card__img {
        height: 110px;
    }
    .header__registration {
        width: 150px;
    }
    header{
        justify-content: center;
    }
}

@media (max-width: 530px) {
    .card__name {
        font-size: 11px;
    }
    .products__card {
        height: 230px;
    }
    .products__string {
        height: 250px;
    }
    .card__img {
        height: 90px;
    }
    .card__price-p {
        font-size: 13px;
    }
    .price__basket-button {
        font-size: 11px;
        width: 80%;
        height:  20px;
    }
    .products__categories {
        width: 50%;
        left: 20px;
    }

    .products__categories--show-button {
        width: 20px;
        height: 100px;
        font-size: 15px;
    }
    
    .products__categories--show-p {
        top: 70px;
    }
    .products__list {
        width: 98%;
        margin-left: 10px;
    }
    .header__search {
        width: 40%;
    }
    .header__button {
        font-size: 11px;
    }
    .modal__slider {
        width: 340px;
    }
    .modal__card-image-block {
        width: 278px;
    }
    .modal__card {
        padding: 5px;
    }
}

@media (max-width: 420px) {
    .products__categories {
        width: 60%;
        left: 20px;
    }
    .card__name {
        font-size: 9px;
    }
    .meeting-slider {
        width: 350px;
        height: 150px;
    }
    .meeting-slider__wrapper {
        width: 290px;
    }
    .meeting-slider__arrow {
        width: 30px;
    }
    .meeting-slider__slide {
        width: 290px;
    }
    .meeting-slider__slide-text {
        width: 120px;
        font-size: 13px;
        top: 50%;
        left: 50%;
    }
    .products__card {
        height: 190px;
    }
    .products__string {
        height: 210px;
    }
    .card__img {
        height: 80px;
    }
}