body, html {
    width: 100%;
    /* min-width: 1080px; */
    background-color: white;
}

p {
    font-family: "CrimsomText-regular";
}

.main {
    width: 100%;
    margin: auto;
}

header {
    width: 70%;
    margin: auto;
    height: 50px;
    display: flex;
    background: linear-gradient(to bottom right, rgb(116, 116, 116), rgb(24, 24, 24), rgb(0, 0, 0));
    border-radius: 0 0 70px 70px;
    justify-content:space-evenly;
}

.header__search {
    width: 40%;
    height: 30px;
    margin-top: 10px;
    display: flex;
}

.header__search--input {
    width: 100%;
    border-width: 2px;
    border-style: inset;
    border-radius: 5px;
}

.header__registration {
    display: flex;
    width: 300px;
}

#header__registration {
    width: 150px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgb(141, 141, 141);
}

#header__authorization {
    width: 150px
}

.header__button {
    width: 120px;
    height: 20px;
    margin-top: 15px;
    font-size: 15px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    padding: 0;
    font-family: "Prata-regular";
}

.header__button-additional {
    position: relative;
    margin-top: 0;
    color: white;
    background-color:  rgb(0, 0, 0);
    z-index: 3;
}

#header__login-button {
    margin-right: 5px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgb(141, 141, 141);
}

.header__button-additional {
    height: 45px;
}

.header__login-buttons-list {
    width: 120px;
}

.meeting-slider {
    height: 500px;
    width: 1260px;
    margin: auto;
    display: flex;
}

.meeting-slider__wrapper {
    width: 1020px;
    height: 100%;
    background-color: white;
    overflow: hidden;
}

.meeting-slider__arrow {
    width: 120px;
    height: 100%;
    background-color: rgb(231, 231, 231);
    background-position: center;
    background-size: 70% auto;
    background-repeat:no-repeat;
}

.meeting-slider__arrow:hover {
    background-color:rgb(200, 200, 200);
}

.meeting-slider__string {
    position: relative;
    height: 100%;
    display: flex;
    transition: transform 1s;
}

.meeting-slider__slide {
    height: 100%;
    width: 1020px;
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.meeting-slider__slide-text {
    position: relative;
    top: 60%;
    left: 60%;
    font-family: "Prata-regular";
    font-size: 35px;
    color: white;
    background-color: black;
    width: 320px;
    padding: 10px;
}

#meeting-slider__arrow-left {
    background-image: url(/img/arrow-left2.png);
}

#meeting-slider__arrow-right {
    background-image: url(/img/arrow-right2.png);
}

.products {
    position: relative;
    width: 100%;
    display: flex;
}

.products__categories--show-button {
    position: absolute;
    display: none;
    width: 50px;
    height: 200px;
    background-color:black;
    color: white;
    font-size: 30px;
    top: 10px;
    left: 0;
    padding: 5px;
    text-align: center;
}

.products__categories--show-p {
    position: relative;
    top: 125px;
    transform: rotate(270deg);
}

.products__categories {
    display: table;
    border-width: 2px;
    border-left-width: 0;
    border-color: black;
    border-style: solid;
    width: 15%;
    padding: 15px 0 30px 30px;
    margin-top: 10px;
    color: black;
    transition: height 0.5s;
}

.products__categories--ul {
    font-size: 25px;
}

h1 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

li {
    padding-left: 36px;
    font-size: 18px;
}

.category__marker {
    height: 17px;
    transition: transform 0.1s linear;
}

.products__marker {
    height: 13px;
    transition: transform 0.1s linear;
}

.with-marker {
    padding-left: 17px;
}

.with-marker {
    padding-left: 13px;
}

ul {
    cursor: pointer;
    user-select: none;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.open-ul {
    transform: rotate(90deg);
}

.products__list {
    width: 70%;
}

.products__string {
    height: 400px;
    width: 100%;
    padding: 10px;
    display: flex;
}

.products__card {
    position: relative;
    text-align: center;
    cursor: pointer;
    height: 380px;
    width: 24%;
    margin: 0 0.5%;
    padding: 10px;
    background-color: rgb(231, 231, 231);
    z-index: 0;
    overflow: hidden;
}

.card__img {
    height: 230px;
    width: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.card__name {
    font-size: 25px;
    margin: 10px;
    font-family: "Roboto-regular";
}

.card__price {
    position: absolute;
    width: 100%;
    display: flex;
    bottom: 0;
    right: 0;
    padding: 15px 20px;
    font-size: 22px;
    font-family: "CrimsomText-regular";
}

.card__price-p {
    font-size: 23px;
}

.price__basket-button {
    position: absolute;
    right: 20px;
    width: 100px;
    height: 30px;
    background-color: black;
    border: none;
    border-radius: 5px;
    color: white;
}

.underline {
    text-decoration: underline;
}

.modal__overlay {
    width: 100%;
    /* height: 1500px; */
    top: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5)
}

.modal__window {
    position: relative;
    width: 40%;
    top: 10%;
    background-color: white;
    color: black;
    margin: auto;
    border: 2px solid white;
    border-radius: 5px;
}

.modal__h {
    margin: 15px;
    font-size: 35px;
}

.modal__input {
    position: relative;
    width: 80%;
    height: 30px;
    border-radius: 5px;
    margin: 0 0 20px 10%;
}

.modal__button {
    background-color: black;
    color: white;
    width: 20%;
    font-size: 20px;
    margin: 10px 0 20px 40%;
    border-color: black;
    border-radius: 5px;
}

.modal__close {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
}

.modal__card {
    position: relative;
    width: 720px;
    height: 600px;
    padding: 20px 50px;
    margin: auto;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
}

.modal__card-image {
    width: 90%;
    height: 95%;
    margin: auto;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.modal__slider-string {
    position: relative;
    height: 100%;
    display: flex;
    transition: transform 1s;
}

.modal__slider-block {
    position: relative;
    width: 500px;
    height: 100%;
    overflow: hidden;
}

.modal__card-image-block {
    width: 500px;
    height: 100%;
}

.modal__card-price {
    font-size: 25px;
    text-align: center;
}

.modal__characteristics-h2 {
    font-size: 22px;
}

.modal__characteristics-p {
    font-size: 20px;
    margin-left: 20px;
}

.modal__slider {
    display: flex;
    width: 616px;
    height: 50%;
}

.modal__slider-button {
    width: 58px;
    height: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: background-size 0.1s ease-out 0s;
}

#modal__slider-arrow-left {
    background-image: url(../img/arrow-left.png);
}

#modal__slider-arrow-right {
    background-image: url(../img/arrow-right.png);
}

.modal__loading {
    position: relative;
    top: 40%
}

.modal__spinner-p {
    text-align: center;
}

.modal__status-p {
    margin: 20px;
    text-align: center;
    font-size: 25px;
}

.modal__basket {
    padding: 30px 20px;
    top: 5%;
    height: 800px;
    width: 80%;
    min-width: 720px;
}

.basket__overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
}

.basket__overlay-h1 {
    line-height: 450px;
}

.basket__list {
    position: relative;
    height: 80%;
    width: 90%;
    margin: auto;
    background-color: rgb(255, 255, 255);
    border: 1px inset;
    border-radius: 5px;
    overflow: scroll;
}
.basket__element {
    position: relative;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid black;
    display: flex;
    overflow: hidden;
}

.basket__element-image {
    width: 120px;
    height: 90%;
    margin: auto 10px;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.basket__element-name {
    color: black;
    font-size: 20px;
    margin-top: 25px;
    white-space: pre;
}

.basket__element-delete {
    height: 30px;
    padding: 0 5px;
    color: red;
    font-size: 20px;
    margin: 25px 10px;
    cursor: pointer;
    border: 2px solid red;
    border-radius: 5px;
}

.basket__element-price {
    color: black;
    width: 100px;
    font-size: 20px;
    margin-top: 25px;
}

.basket__payment {
    width: 200px;
    height: 40px;
    background: none;
    background-color: black;
    border-radius: 15px;
    font-size: 20px;
    color: white;
}

.basket__payment-div {
    margin-top: 30px;
    padding: 0 10%;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
}

.basket__payment-sum {
    margin: auto 0;
    font-size: 24px;
}

.control-panel {
    position: absolute;
    top: 0;
    right: 0;
    width: 600px;
    background-color: white;
    border: 3px solid black;
    border-radius: 5px;
    z-index: 4;
}

.panel__frame {
    position: relative;
    justify-content: right;
    height: 30px;
    width: 100%;
}

.panel__frame-button {
    width: 25px;
    height: 25px;
    margin: 2px;
    border-radius: 12px;
}

.panel__frame-buttons-wrapper {
    position: absolute;
    height: 100%;
    display: flex;
    right: 5px;
}

.panel__main {
    height: 357px;
    width: 580px;
    margin: 0 7px 7px 7px;
    background-color: rgb(221, 221, 221);
}

.panel__mark-list {
    width: 100%;
    height: 30px;
    background-color: white;
    display: flex;
}

.panel__mark {
    background-color: rgb(200, 200, 200);
    border: 1px solid black;
    margin: 0 1px 0 1px;
    border-radius: 5px 5px 0 0;
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
}

.panel__mark-checked {
    background-color: rgb(221, 221, 221);
    border-bottom: none;
}

.panel__control-product {
    width: 580px;
    height: 327px;
    padding: 0 10px;
    overflow-y: scroll;
}

.panel__control-string {
    width: 100%;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

.panel__input {
    width: 60%;
}

.panel__control-p {
    font-size: 24px;
}

.panel__input-with-list {
    height: 25px;
    width: 65%;
    display: flex;
    justify-content: space-between;
}

.panel__input {
    width: 65%;
    height: 25px;
}

.panel__input-list {
    width: 85%;
}

.panel__input-list > .panel__input {
    width: 100%;
}

.panel__button-plus {
    height: 25px;
    width: 10%;
}

#panel__frame-button-cross {
    background-image: url(../img/cross.jpg);
    background-size: 25px 25px;
    background-position: center;
}

@font-face {
    font-family: "Prata-regular";
    src: url("../fonts/Prata-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Roboto-regular";
    src: url("../fonts/Roboto-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "CrimsomText-regular";
    src: url("../fonts/CrimsonText-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}